*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    /* background-color: rgba(53, 192, 139, 0.932); */
    /* height: 30vh; */
    width: 100%;
    position: relative;
    background-image: url(https://media.istockphoto.com/id/1147610649/photo/seamless-pasta-spirals-top-view-pattern-on-paper-background.jpg?s=612x612&w=0&k=20&c=DTZtwoiSG4u_p40GLM17kMBNB-abl_VX1dFi_asMbQw=);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.nav-bar{
    background-color:rgb(68, 67, 63);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    color: white;
    gap: 20px;
    font-size: 20px;
    /* float: right; */
    margin-right: 40px;
    margin-top: 20px;
}
.nav-bar ul li a{
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-bar ul li a :hover{
    background-color:rgb(68, 67, 63);
}
.logo img{
    width: 130px;
    padding-left: 5px;
    height: 10vh;
}
.ho{
    color: white;
    /* padding: 10px; */
    font-size: 44px;
    padding-top: 70px;
    display: flex;
    gap: 120px;
}
Button {
    background-color: rgb(230, 184, 57);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
Button:hover {
    background-color: rgb(60, 61, 60);
  }
.products{
    padding: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.products h1{
    text-align: center;
    font-size: 36px;
}
.products h5{
    text-align: center;
    font-size: 46px;
}
.meat{
    background-color: rgb(68, 67, 63);
    padding: 30px;
    border-radius: 5%;
    text-align: center;
}
.vegie{
    background-color: rgb(68, 67, 63);
    padding: 30px;
    border-radius: 5%;
    text-align: center;
}
.fish{
    background-color: rgb(68, 67, 63);
    padding: 30px;
    border-radius: 5%;
    text-align: center;
}
.men{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 60px;
}
.men img{
    /* clip-path: circle(90px at center); */
    width: 70%;
    /* padding: 20px; */
    height: 30vh;
    object-fit: cover;
    border-radius: 50%;
}
.men h3{
    font-size: 29px;
    padding-bottom: 20px;
}
.men h4{
    font-size: 24px;
    padding-top: 15px;
}
.contact{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(210, 212, 214); */
    height: 94vh;
    color: white;
}
.i{
    font-size: 33px;
    padding-top: 20px;
}
form{
    padding-top: 10px;
    border-radius: 10px;
}
.log{
    width: 30%;
    color: white;
    background-color:rgb(68, 67, 63);
    text-align: center;
    margin-top: 8%;
    margin-left: 35%;
    padding: 20px;
    height: 65vh;
    border-radius: 10px;
}
.si{
    color: white;
}
.container1{
    color: white;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}
.bu{
    margin-top: 60px;
}
.container1 h5{
    font-size: 20px;
    padding-bottom: 10px;
}
.container1 h1{
    font-size: 39px;
    padding-bottom: 10px;
    text-align: center;
}
.container1 img{
    border-radius: 50%;
    height: 60vh;
    width: 100%;
}
.container2 i{
    color: white;
    font-size: 56px;
}
.container2{
    color: white;
    padding: 20px;
}
.container2 h1{
    text-align: center;
    font-size: 50px;
}
.container2 a{
    text-decoration: none;
    color: white;
}
.getin{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 30px;
}
.icon i{
    display: block;
    padding-top: 20px;
    /* gap: 8px; */
}
.icon{
    padding-top: 5%;
}
.ama{
    text-align: center;
    padding-left: 30%;
    padding-top: 5%;
}
.log a{
    color:rgb(212, 185, 60);
}
video{
    width: 500px;
    height: 70vh;
    margin-left: 0;
}
.wor p{
    padding-top: 110px;
    padding-right: 20px;
    padding-left: 20px;
}
.experience{
    height: 200vh;
}
.exp{
    display: flex;
    justify-content: space-between;
    color: white;
}
.experience h1{
    text-align: center;
    color: white;
    font-size: 60px;
}
.om{
    color:rgb(212, 185, 60) ;
}


@media screen and (max-width:800px) {
    .nav-bar {
        display: block;
        height: 35vh;
    }
    .nav-bar ul{
        display: block;
    }
    .nav-bar ul li{
        font-size: 30px;
    }
    .ama{
        display: block;
        margin-top: 0;
        /* margin-left: 0; */
        font-size: 30px;
        padding: 0;
        text-align: left;
    }
    .ho{
        display: block;
        margin-top: 0;
        margin-left: 0;
    }
}
@media screen and (max-width:800px){
    .container1{
        display: block;
    }
    .bu{
        font-size: 25px;
        margin-top: 0;
        padding-top: 0;
    }
    .bu h5{
        font-size: 28px;
    }
    .bu h1{
        font-size: 40px;
        text-align: left;
    }
    .us img{
        width: 600px;
        height: 40vh;
        
    }
    .container2{
        color:white;
    }
    .container2 h1{
        text-align: left;
        font-size: 40px;
        margin-top: 0;
    }
    .getin{
        display: block;
        font-size: 20px;
    }
}
@media screen and (max-width:800px){
    .contact{
        display: block;
    }
    .pik img{
        width:160px;
        height: 30vh;
    }
    .i{
        font-size: 45px;
    }
}
@media screen and (max-width:800px){
    .men{
        display: block;
        width: 100%;
    }
    .vegie{
        margin-top: 20px;
    }
    .fish{
        margin-top: 20px;
    }
}
@media screen and (max-width:800){
    .exp{
        display: block;
    }
}
@media screen and (max-width:800px){
    .log{
        height: 40vh;
    }
}


  